<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<!--/* Custom Meta CSS */-->
<object th:remove="tag" th:include="fragments/custom :: meta-css"></object>
</head>
<body>
	<!--/* Include navbar */-->
	<object th:remove="tag" th:include="fragments/custom :: navbar"></object>

	<!--/* Challenge Wrapping */-->
	<object th:remove="tag" th:include="fragments/challenge :: challenge">

		<div th:fragment="title">Compiler Basics</div>
		<div th:fragment="description">
			<p>A "helloworld" program is a computer program that outputs or
				displays the message "helloworld".</p>
			<p>It is often used to illustrate the basic syntax of a
				programming language, or written as the first program by people
				learning to code.</p>
			<br />
			<p>Print "helloworld" to the system output!</p>
		</div>

		<div th:fragment="task">
			<pre id="editor">public class HelloWorld {

	public static void main(String[] args) {
		// Insert code here...
	}

}
</pre>
			<form class="persistent-form"
				th:action="@{__${#httpServletRequest.requestURI}__}" method="post"
				enctype="application/x-www-form-urlencoded"
				data-control="default_challenge">
				<input type="hidden" name="code" />
				<input class="btn btn-default" type="submit" value="Submit" />
			</form>
		</div>

		<div th:fragment="points">15</div>
		<div th:fragment="category">General</div>
		<div th:fragment="difficulty">Beginner</div>

	</object>

	<!--/* Custom JS */-->
	<object th:remove="tag" th:include="fragments/custom :: js"></object>
</body>
</html>