<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<!--/* Custom Meta CSS */-->
<object th:remove="tag" th:include="fragments/custom :: meta-css"></object>
</head>
<body>
	<!--/* Include navbar */-->
	<object th:remove="tag" th:include="fragments/custom :: navbar"></object>

	<!--/* Challenge Wrapping */-->
	<object th:remove="tag" th:include="fragments/challenge :: challenge">

		<div th:fragment="title">Hash Recompilation</div>
		<div th:fragment="description">
			<p>Hash values are used to validate the integrity of a data.
				There are various types of hashing algorithms, such as MD5, SHA1,
				SHA256 etc.</p>
			<p>If a data has not been modified, the hash value should remain
				unchanged. As such, it is crucial to understand the process of
				obtaining hash values.</p>
			<br />
			<p>Hash the password using MD5!</p>
		</div>

		<div th:fragment="task">
			<pre id="editor">import java.io.*;
import java.security.*;

import javax.xml.bind.DatatypeConverter;
import javax.servlet.*;
import javax.servlet.annotation.*;
import javax.servlet.http.*;

@WebServlet("/MD5Exercise")
public class MD5Exercise extends HttpServlet {

	// Function to convert byte array to hex
	public static String toHex(byte[] br) {
        return DatatypeConverter.printHexBinary(br);
    }

    public void doPost(HttpServletRequest request, HttpServletResponse response) throws ServletException, IOException {
        try {        
	        String password = request.getParameter("password");
	        String output = null;
	        
	        // Step 1: Convert the string to byte array
	        // Step 2: Declare what hashing algorithm to use
	        // Step 3: Convert bytes back to hex string
	        
	        // (Note: You can alternatively use what you deem comfortable.)
	        
	        request.setAttribute("hash", output);
        	response.sendRedirect("hash.jsp");
        } catch (Exception e) {
			response.sendRedirect("error.jsp");
		}
    }
    
}
</pre>
			<form class="persistent-form"
				th:action="@{__${#httpServletRequest.requestURI}__}" method="post"
				enctype="application/x-www-form-urlencoded"
				data-control="default_challenge">
				<input type="hidden" name="code" /> <input class="btn btn-default"
					type="submit" value="Submit" />
			</form>
		</div>

		<div th:fragment="points">15</div>
		<div th:fragment="category">Cryptography</div>
		<div th:fragment="difficulty">Easy</div>

	</object>

	<!--/* Custom JS */-->
	<object th:remove="tag" th:include="fragments/custom :: js"></object>
</body>
</html>