<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<!--/* Custom Meta CSS */-->
<object th:remove="tag" th:include="fragments/custom :: meta-css"></object>
<link href="/css/form-feedback.css" th:href="@{/css/form-feedback.css}"
	rel="stylesheet" />
</head>
<body class="home">
	<div class="container login-cont">
		<div class="row">
			<div class="col-md-4 col-md-offset-4">
				<div class="reg-panel panel-green card">
					<div class="heading">
						<h4>New Password</h4>
					</div>
					<div class="panel-body">
						<div class="panel-body">
							<form action="/newPassword" th:action="@{/newPassword}"
								method="POST" enctype="application/x-www-form-urlencoded"
								data-control="reset" id="forgotpw-form">
								<div class="form-group">
									<div class="input-group">
										<span class="input-group-addon"><i
											class="fa fa-lock fa-fw"></i></span>
										<div class="input-parent">
											<input id="password-input" type="password"
												class="form-control input-sm" placeholder="Password"
												name="password" />
										</div>
									</div>
								</div>
								<div class="form-group">
									<div class="input-group">
										<span class="input-group-addon"><i
											class="fa fa-lock fa-fw"></i></span>
										<div class="input-parent">
											<input id="passwordcheck-input" type="password"
												class="form-control input-sm" placeholder="Confirm password"
												name="confirmPassword" />
										</div>
									</div>
								</div>
								<input type="hidden" th:value="${uuid}" name="uuid" />
								<button type="submit" id="btn-submit"
									class="btn btn-lg btn-success btn-block">Reset
									Password</button>
							</form>
							<br /> <a class="btn btn-default pull-right home-btn"
								href="/login" th:href="@{/login}">Return to Login</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!--/* Custom JS */-->
	<object th:remove="tag" th:include="fragments/custom :: js"></object>
	<script src="/js/pages/newpw.js" th:src="@{/js/pages/account/newpw.js}"></script>
</body>
</html>